body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background: #1032dc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #00b09b, #96c93d);
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}
button:hover {
    background: linear-gradient(90deg, #96c93d, #00b09b);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(110, 80, 184, 0.15);
    color: #e40a0a;

}